.vscode

data/SenSig-test
data/SenSig-val
data/SouSig

data/meeting_room_data/stereo_data
data/meeting_room_data/stereo_data_1
data/meeting_room_data/segment_wav.py

exp

code/__pycache__
code/Demo_2ch_copy.ipynb

./README_origin.md
